@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
@import url(http://fonts.googleapis.com/css?family=Quicksand);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);
//colors
$dark_main:#333333;
$hover_dark:#555;
$light:#bbb;
$lightest:#eee;

//fonts
$main:"Droid Sans", Arial;
$alt1:"Oswald", Arial;
$alt2:"Quicksand", Arial;

html, body, .ad-container {
  height: 100%;
}

.ad-container{
	*, *:before, *:after{
		box-sizing:border-box;
	}
}

.ad-container{
	font-family:$main;
	color:$dark_main;
	ul{
		list-style-type: none;
		margin:0px;
		padding:0px;
	}
}