.ad-pointer-element{
	cursor:pointer;
}
.ad-chart-layout{
	color:$dark_main;
	font-size:11pt;
	.ad-chart-layout-title div{
		background:$dark_main;
		color:$lightest;
		font-family:$alt1;
		font-weight:thin;
		padding:5px;
		font-size:15pt;
		text-align:center;
		position:relative;
		z-index:10;
	}
	.ad-chart-layout-right-notes,.ad-chart-layout-left-notes,.ad-chart-layout-footnote{
		position:absolute;
		font-size:11pt;
		pointer-events:none;
		overflow:hidden;
		// overflow:scroll;
		color:$note;
	}
	.ad-chart-layout-right-notes,.ad-chart-layout-left-notes{
		font-size:10pt;
	}
	.ad-chart-layout-footnote{
		width:100%;
		margin-top:-10px;
		font-style:italic;
		text-align:center;
		font-size:8pt;
	}
	.ad-chart-layout-footnote div{
		padding:5px;
	}
	.ad-chart-layout-right-notes ul, .ad-chart-layout-left-notes ul{
		padding:5px;
	}
	.ad-chart-layout-right-notes li, .ad-chart-layout-left-notes li{
		border-bottom:1px solid #ddd;
		padding-bottom:5px;
	}

	.ad-chart-layout-chart{
		position:absolute;
	}

}

.ad-breadcrumb{
	path{
		fill:$lightest;
	}
}

.ad-general-tooltip{
	z-index:10000;
	font-family:$main;
	font-size:10pt;
	position:absolute;
	pointer-events:none;
	// border:1px solid #666;
	// background:$lightest;
	// background:$dark_main;
	background:rgba(0,0,0,0.75);
	color:$lightest;
	padding: 5px 10px;
	border-radius:1px;
	max-width:250px;
	// opacity:0.1;
	-webkit-box-shadow: 0 0 5px #555;
	        box-shadow: 0 0 5px #555;
//  -webkit-box-shadow: 0 2px 3px #777;
//  -moz-box-shadow:    0 2px 3px #777;
//  box-shadow:         0 2px 3px #777;
}
