<nav id = 'topbar'>
  <div id = 'sidebar-button'><i class="fa fa-bars"></i></div>
  <div id = 'navbar-header'>UNM Athletics - Student Eligibility Dashboard</div>
  <%= link_to("http://unm.edu", :id => "unm-link") do %>
    <%=image_tag 'http://degrees.unm.edu/assets/layout/Logo-072057a2d0687e68145f541da12b18e3.png', height: "40px"%>
  <%end%>
</nav>
