<nav id = 'topbar'>
  <div id = 'sidebar-button'><i class="fa fa-bars"></i></div>
  <div id = 'navbar-header'><span id='header-main'>UNM Athletics</span> <span id='header-alt'> - Student Eligibility Dashboard</div></div>
  <%= link_to("http://unm.edu", :id => "unm-link") do %>
    <%=image_tag 'http://degrees.unm.edu/assets/layout/Logo-072057a2d0687e68145f541da12b18e3.png', height: "40px"%>
  <%end%>
</nav>
