/*d3b*/
.d3b-svg{
	display: block;
	font-family:'Droid Sans', Arial;
	font-size:11pt;
	fill:#333;
}
/*d3b TOOLTIPS*/
.d3b-svg .d3b-general-tooltip{
	position:absolute;
	pointer-events:none;
}
/*multiChart Controls*/
.d3b-svg .d3b-set-controls-wrapper, .d3b-svg .d3b-display-chart{
	display:block;
}
.d3b-svg .d3b-set-controls{
	border:1px solid #cacaca;
	border-radius:2px;
	display:table;
	margin:auto;
}
.d3b-svg .d3b-set-controls .d3b-set-control{
	display:inline-block;
	padding:5px 10px;
	cursor:pointer;
	font-size:13px;
	color:#999;
	border-right:1px solid #ccc;
	background:#f1f1f1;
}
.d3b-svg .d3b-set-controls .d3b-set-control:last-child{
	border-right:0px solid #ccc;
}
.d3b-svg .d3b-set-controls .d3b-set-control.selected{
	-moz-box-shadow:inset 0px 0px 4px rgba(0,0,0,0.2);;
	-webkit-box-shadow:inset 0px 0px 4px rgba(0,0,0,0.2);
	box-shadow: inset 0px 0px 4px rgba(0,0,0,0.2);
	background-color:#dedede;
	color:#555;
	font-weight:bold;
}
/*pieChart*/
.d3b-svg .d3b-pie-chart g.d3b-pie-slice path{
	stroke-width:1px;
	stroke:white;
}
/*axisChart*/
.d3b-svg .d3b-axis path{
	fill:none;
	stroke:none;
}
.d3b-svg .d3b-axis text{
	font-size:13px;
}
.d3b-svg .d3b-axis .tick line{
  stroke: #ddd;
}
.d3b-svg .d3b-x-label text, .d3b-svg .d3b-y-label text{
	font-size:15px;
	font-weight:bold;
	text-anchor:middle;
}
//
// /*axisChart column specific styles*/
// .d3b-svg .d3b-bar-columns rect{
// 	shape-rendering:crispEdges;
// 	fill-opacity:0.65;
// 	-webkit-transition: fill-opacity 0.25s;
//     transition: fill-opacity 0.25s;
// }
// .d3b-svg .d3b-bar-columns rect:hover{
// 	fill-opacity:0.8;
// }
//
// .d3b-svg .d3b-area-columns path{
// 	fill-opacity:0.25;
// 	stroke-width:1px;
// 	-webkit-transition: fill-opacity 0.25s, stroke-width 0.25s;
//     transition: fill-opacity 0.25s, stroke-width 0.25s;
// }
// .d3b-svg .d3b-area-columns path:hover{
// 	fill-opacity:0.5;
// 	stroke-width:1.5px;
// }
//
// .d3b-svg .d3b-scatter-columns circle{
// 	stroke-width:1px;
// 	stroke:white;
// 	stroke-opacity:1;
// 	-webkit-transition: stroke-width 0.25s;
//     transition: stroke-width 0.25s;
// }
// .d3b-svg .d3b-scatter-columns circle:hover{
// 	stroke-width:1.5px;
// }
// .d3b-svg .d3b-line-columns path.d3b-line{
// 	stroke-width:2px;
// 	fill:none;
// 	-webkit-transition: stroke-width 0.25s;
//   transition: stroke-width 0.25s;
// }
// .d3b-svg .d3b-line-columns path.d3b-line:hover{
// 	stroke-width:4px;
// }
//
//
// /*axisChart legend hover events*/
// .d3b-area-columns g.d3b-legend-mouseover path{
// 	fill-opacity:0.5;
// 	stroke-width:1.5px;
// }
// .d3b-line-columns g.d3b-legend-mouseover path.d3b-line{
// 	stroke-width:4px;
// }
// .d3b-bar-columns g.d3b-legend-mouseover rect{
// 	fill-opacity:0.8;
// }
// .d3b-scatter-columns g.d3b-legend-mouseover circle{
// 	stroke-width:1.5px;
// }

/*legend styles*/
/*.d3b-legend{
	font-size:13px;
}*/



//NEW STARTS HERE

.d3b-axis{
		// path{
		// 	stroke-width:1px !important;
		// 	stroke:#333 !important;
		// }

}

.d3b-axis-chart{
	.d3b-axes{
		.d3b-label{
			text{
				text-anchor:middle;
				font-size:15px;
				font-weight:bold;
			}
		}
	}
	.d3b-grid{
		path{
			fill:none;
		}
		line{
			stroke-width:1px;
			stroke:#ddd;
		}
		text{
			display:none;
			opacity:0;
		}
	}
	.d3b-axis-types{
		.d3b-axis-types-background{
			.d3b-line{
				path{
					-webkit-transition: stroke-width 0.25s;
					transition: stroke-width 0.25s;
					fill:none;
					stroke-width:2px;
					&:hover{
						stroke-width:4px;
					}
				}
			}
			.d3b-area{
				path{
					-webkit-transition: fill-opacity 0.25s;
					transition: fill-opacity 0.25s;
					fill-opacity:0.4;
					&:hover{
						fill-opacity:0.6;
					}
				}
			}
			.d3b-histogram{
				rect{
					-webkit-transition: fill-opacity 0.25s;
					transition: fill-opacity 0.25s;
					fill-opacity:0.8;
					&:hover{
						fill-opacity:1;
					}
				}
			}
			.d3b-bar{
				rect{
					-webkit-transition: fill-opacity 0.25s;
					transition: fill-opacity 0.25s;
					fill-opacity:0.8;
					&:hover{
						fill-opacity:1;
					}
				}
			}
		}
		.d3b-axis-types-foreground{
			circle{
				stroke-width:2px;
			}
		}


		.d3b-bubblePack{
			.d3b-expanded-bubble-indicator{
				cursor:pointer;
				rect{
					fill-opacity:0.6;
					-webkit-transition: stroke-width 0.25s;
					transition: stroke-width 0.25s;
					stroke-width:0px;
				}
				text{
					text-anchor:middle;
				}
				&:hover{
					rect{
						stroke-width:2px;
					}
				}
			}
			.d3b-bubble{
				opacity:0.7;
				cursor:pointer;
			}
			.d3b-hidden{
				pointer-events:none;
			}
			circle.d3b-bubble-background{
				stroke-width:2.5px;
				fill:none;
			}
			circle.d3b-bubble-foreground{
				stroke:none;
				// stroke-opacity:0;
			}
		}
	}
}
