/*d2b*/
.d2b-svg{
	display: block;
	font-family:'Droid Sans', Arial;
	font-size:11pt;
	fill:#333;
}
/*d2b TOOLTIPS*/
.d2b-svg .d2b-general-tooltip{
	position:absolute;
	pointer-events:none;
}
/*multiChart Controls*/
.d2b-svg .d2b-set-controls-wrapper, .d2b-svg .d2b-display-chart{
	display:block;
}
.d2b-svg .d2b-set-controls{
	border:1px solid #cacaca;
	border-radius:2px;
	display:table;
	margin:auto;
}
.d2b-svg .d2b-set-controls .d2b-set-control{
	display:inline-block;
	padding:5px 10px;
	cursor:pointer;
	font-size:13px;
	color:#999;
	border-right:1px solid #ccc;
	background:#f1f1f1;
}
.d2b-svg .d2b-set-controls .d2b-set-control:last-child{
	border-right:0px solid #ccc;
}
.d2b-svg .d2b-set-controls .d2b-set-control.selected{
	-moz-box-shadow:inset 0px 0px 4px rgba(0,0,0,0.2);;
	-webkit-box-shadow:inset 0px 0px 4px rgba(0,0,0,0.2);
	box-shadow: inset 0px 0px 4px rgba(0,0,0,0.2);
	background-color:#dedede;
	color:#555;
	font-weight:bold;
}
/*pieChart*/
.d2b-svg .d2b-pie-chart g.d2b-pie-slice path{
	stroke-width:1px;
	stroke:white;
}
/*axisChart*/
.d2b-svg .d2b-axis path{
	fill:none;
	stroke:none;
}
.d2b-svg .d2b-axis text{
	font-size:13px;
}
.d2b-svg .d2b-axis .tick line{
  stroke: #ddd;
}
.d2b-svg .d2b-x-label text, .d2b-svg .d2b-y-label text{
	font-size:15px;
	font-weight:bold;
	text-anchor:middle;
}



//NEW STARTS HERE

.d2b-axis-chart{
	.d2b-axes{
		.d2b-label{
			text{
				text-anchor:middle;
				font-size:15px;
				font-weight:bold;
			}
		}
		.d2b-origin-tick{
			text{
				font-weight:bold;
			}
		}
	}
	.d2b-grid{
		path{
			fill:none;
		}
		line{
			stroke-width:1px;
			stroke:#ddd;
		}
		text{
			display:none;
			opacity:0;
		}
	}

	.d2b-axis-types{
		.d2b-axis-types-background{
			.d2b-line{
				path{
					-webkit-transition: stroke-width 0.25s;
					transition: stroke-width 0.25s;
					fill:none;
					stroke-width:2px;
					&:hover{
						stroke-width:4px;
					}
				}
			}
			.d2b-area{
				path{
					-webkit-transition: fill-opacity 0.25s;
					transition: fill-opacity 0.25s;
					fill-opacity:0.4;
					&:hover{
						fill-opacity:0.6;
					}
				}
			}
			.d2b-histogram{
				rect{
					-webkit-transition: fill-opacity 0.25s;
					transition: fill-opacity 0.25s;
					fill-opacity:0.8;
					&:hover{
						fill-opacity:1;
					}
				}
			}
			.d2b-bar{
				rect{
					-webkit-transition: fill-opacity 0.25s;
					transition: fill-opacity 0.25s;
					fill-opacity:0.8;
					&:hover{
						fill-opacity:1;
					}
				}
			}
		}
		.d2b-axis-types-foreground{
			circle{
				stroke-width:1px;
			}
			path.d2b-symbol{
				stroke-width:1px;
				fill:white;
			}
		}

		.d2b-gridMarker{
			.d2b-grid-marker-x, .d2b-grid-marker-y{
				line{
					stroke-width:1.5px;
					opacity:0.9;
					&.d2b-dashed{
						stroke-dasharray:5,5;
					}
				}
				text{
					text-anchor:end;
				}
				text.d2b-inverted{
					text-anchor:start;
				}
				text.d2b-grid-marker-coordinate{
					font-size:10px;
				}
			}
			.d2b-grid-marker-symbol{
				fill:white;
			}
			.d2b-grid-marker-label{
				font-size:10px;
				font-weight:bold;
			}
		}

		.d2b-bubblePack{
			.d2b-expanded-bubble-indicator{
				cursor:pointer;
				rect{
					fill-opacity:0.2;
					-webkit-transition: stroke-width 0.25s, stroke-opacity 0.25s;
					transition: stroke-width 0.25s, stroke-opacity 0.25s;
					stroke-width:1.5px;
					stroke-opacity:0.7;
				}
				text{
					text-anchor:start;
				}
				&:hover{
					rect{
						stroke-width:2.5px;
						stroke-opacity:1;
					}
				}
			}
			.d2b-bubble{
				opacity:0.7;
				cursor:pointer;
			}
			.d2b-hidden{
				pointer-events:none;
			}
			.d2b-bubble-background{
				stroke-width:1.5px;
				fill:none;
			}
			.d2b-bubble-foreground{
				stroke:none;
				// stroke-opacity:0;
			}
		}
	}
}
