.d2b-fact-chart{
  .d2b-fact{
    text{
      fill:$dark_main;
      text-anchor:middle;
    }
  }
  .d2b-sub-fact-label{
    fill:$dark_main;
    text-anchor:middle;
  }
  .d2b-link{
    text{
      // fill:#2A5DB0;
    }
  }

}
