/*axisChart column specific styles*/
.d3b-interactive-bar-chart{
	.d3b-columns{
		rect{
			shape-rendering:crispEdges;
			fill-opacity:0.8;
			-webkit-transition: fill-opacity 0.25s; 
	    transition: fill-opacity 0.25s;
		}
		rect:hover{
			fill-opacity:1;
		}
	}
} 



