.ad-sankey-chart{
  .ad-sankey-labels{
    font-size: 17pt;
    .ad-sankey-label-source text{
      text-anchor:start;
    }
    .ad-sankey-label-destination text{
      text-anchor:end;
    }
  }
  .ad-sankey-column-headers{
    .ad-sankey-column-header{
      text{
        text-anchor: middle;
        font-weight: bold;
        font-size: 16px;
      }
      &:first-child text{
        text-anchor: start;
      }
      &:last-child text{
        text-anchor: end;
      }
    }
  }

  .ad-sankey{
    .ad-sankey-links{
      path{
        fill:none;
        stroke-opacity:0.7;
        &:hover{
          stroke-opacity:0.9;
        }
      }
    }
    .ad-sankey-nodes{
      text{
        font-size:10pt;
        font-weight:bold;
        pointer-events:none;
      }
    }
    .ad-sankey-nodes{
      rect{
        fill:$lightest;
        stroke-width:2px;
        stroke:$light;
        &:hover{
          stroke:$dark_main
        }
      }
    }
  }
}
