.ad-sankey-chart{
	.ad-sankey-labels{
		font-size:23px;
		.ad-sankey-label-source text{
			text-anchor:start;
		}
		.ad-sankey-label-destination text{
			text-anchor:end;
		}
	}
	.ad-sankey-column-headers{
		.ad-sankey-column-header{
			text{
				text-anchor:middle;
				font-weight:bold;
//				font-family:"Oswald";
				font-size:16px;
			}
		}
		.ad-sankey-column-header:first-child text{
			text-anchor:start;
		}
		.ad-sankey-column-header:last-child text{
			text-anchor:end;
		}
	}
	.ad-sankey{
		.ad-sankey-links{
			path{
				fill:none;
				-webkit-transition: stroke-opacity 0.25s; 
			    transition: stroke-opacity 0.25s;
				stroke-opacity:0.5;
				&:hover{
					stroke-opacity:0.8;
				}
			}
		}
		.ad-sankey-nodes{
			text{
				font-size:10pt;
				font-weight:bold;
				pointer-events:none;
			}
			rect{
				fill:$lightest;
				stroke-width:2px;
				stroke:$light;
				-webkit-transition: stroke 0.25s; 
			    transition: stroke 0.25s;
				&:hover{
					stroke:$dark_main;
				}
			}
		}
	}
}