.ad-sunburst-chart{
	.ad-sunburst{
		.ad-sunburst-arcs{
			// cursor:pointer;
			path{
				fill-opacity:0.9;
				stroke:white;
				stroke-width:1;
				-webkit-transition: fill-opacity 0.25s;
			    transition: fill-opacity 0.25s;
				&:hover{
					fill-opacity:1;
					stroke:white;
				}
			}

		}
	}
	.ad-sunburst-tooltip{
		text{
			text-anchor:middle;
			tspan:first-child{
				font-size:12pt;
				font-weight:bold;
			}
			tspan:last-child{
				font-size:16pt;
			}
		}
	}
}
