.d3b-sunburst{
	.d3b-sunburst-arcs{
		// cursor:pointer;
		path{
			fill-opacity:0.9;
			stroke:white;
			stroke-width:1;
			-webkit-transition: fill-opacity 0.25s;
		    transition: fill-opacity 0.25s;
			&:hover{
				fill-opacity:1;
				stroke:white;
			}
		}

	}
}
.d3b-sunburst-tooltip{
	text{
		pointer-events:none;
		text-anchor:middle;
		tspan:first-child{
			font-size:12pt;
			font-weight:bold;
		}
		tspan:last-child{
			font-size:16pt;
		}
	}
}
