.d2b-dashboard{

	.d2b-header{

		.d2b-dashboard-logo{
			// width:190px;
			height:40px;
			float:right;
			margin-right:10px;
			// background-size: contain;
			// background-repeat: no-repeat;
		}

		border-bottom:2px solid $hover_dark;
		color:$lightest;
		background:$dark_main;
		font-size:20px;
		/*disable double click selections for header controls*/
		-webkit-touch-callout: none;
	  -webkit-user-select: none;
	  -khtml-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;
	  user-select: none;

		position:fixed;
		width:100%;
		height:40px;
		z-index:4;

		top:0;

	  -webkit-box-shadow: $dashboard_shadow;
	  -moz-box-shadow:    $dashboard_shadow;
	  box-shadow:         $dashboard_shadow;


		.d2b-navigation-home{
			display:inline-block;
			padding:5px 12px;
			cursor:pointer;
		}

		.d2b-navigation-arrows{
			display:inline-block;
			div{
				display:inline-block;
				padding:5px 12px;
				cursor:pointer;
			}
		}

		.d2b-category-tabs{
			display:inline-block;
			font-family:$alt1;

			.d2b-category-tab{
				display:inline-block;
				padding:5px 27px;
				cursor:pointer;
				margin-right:1px;
			}

		}

		.d2b-navigation-home:hover, .d2b-navigation-arrows div:hover, .d2b-category-tab:hover{
			background:$hover_dark;
		}

		.d2b-innactive{
			color:$light;
			cursor:auto !important;

			&:hover{
				background:rgba(0,0,0,0) !important;
			}
		}


		.d2b-dashboard-breadcrumbs{
		  -webkit-box-shadow: $dashboard_shadow;
		  -moz-box-shadow:    $dashboard_shadow;
		  box-shadow:         $dashboard_shadow;

			background:$hover_dark;

			padding:5px;
			padding-left:10px;
			height:38px;
			width:100%;
			border-top:2px solid $dark_main;
			overflow:visible;
			position:relative;

			.d2b-dashboard-breadcrumbs-svg{
				overflow:hidden;
				height:100%;
				width:100%;
				position:absolute;
				z-index:3;
				margin-top:-1px;

				.d2b-breadcrumb{
					cursor:pointer;
					path{
						&:hover{
							fill:$palette_main_darker;
						}
					}
					text{
						pointer-events:none;
						// font-weight:bold;
						font-size:11pt;
						// fill:$dark_main;
						fill:$lightest;
					}

					.d2b-breadcrumb-background{
						fill:$palette_main_darker;
					}
					.d2b-breadcrumb-foreground{
						fill:$palette_main;
					}

					.d2b-breadcrumb-triangle rect{
						cursor:pointer;
						fill-opacity:0;
						&:hover{
							fill:$palette_main_darker;
						}
					}
					.d2b-breadcrumb-triangle path{
						fill:$lightest;
						stroke:0px;
						pointer-events:none;
					}
					.d2b-breadcrumb-triangle:not(.d2b-breadcrumb-sub-section-group-section):hover rect{
						fill-opacity:1;
					}
					.d2b-breadcrumb-sub-section-group-section path{
						cursor:pointer;
					}
					.d2b-breadcrumb-sub-section-group-section text{
						cursor:pointer;
					}

				}

				.d2b-breadcrumb.d2b-innactive{
					cursor:auto;
					& > .d2b-breadcrumb-foreground:hover{
						fill:$palette_main;
					}
				}

			}

		}

	}


	.d2b-dashboard-sidebar{
		// -webkit-transform: translateZ(0);

	  // -webkit-box-shadow: 2px 3px 3px $light;
	  // -moz-box-shadow:    2px 3px 3px $light;
	  // box-shadow:         2px 3px 3px $light;

		position:fixed;
		top:78px;
		z-index:5;
		width:190px;
		margin-left:10px;
		height:100% !important;
		float:left;
		color:$lightest;
		font-family:$main;
		font-size:11pt;
		padding-top:10px;

		div.d2b-sidebar-container{
			border-radius:1px;
			background:$dark_main;
			-webkit-box-shadow: $dashboard_shadow;
		  -moz-box-shadow:    $dashboard_shadow;
		  box-shadow:         $dashboard_shadow;
			// -webkit-transition:max-height 0.25s, margin-bottom 0.25s, padding 0.25s, opacity 0.25s;
			// transition:max-height 0.25s, margin-bottom 0.25s, padding 0.25s, opacity 0.25s;
			//
			// opacity:1;
			padding:5px 0px;
			margin-bottom:10px;
			max-height:1000px;
		}

		.d2b-control-container{
			padding: 3px 8px 3px 13px;
			.d2b-control{
				padding-left:10px;
			}
		}

		circle, text{
			fill:$lightest;
		}
		rect, path, circle{
			stroke:$lightest;
		}
		.d2b-control-label{
			// font-size:12px;
			margin-bottom:3px;
		}
		.d2b-control{
			margin-bottom:5px !important;
		}

		// div.d2b-sidebar-container.d2b-hidden{
		// 	opacity:0;
		// 	overflow:hidden;
		// 	max-height:0px;
		// 	margin-bottom:0px;
		// 	padding:0px;
		// }

		div.d2b-sidebar-header{
			// padding:3px 5px 3px 2px;
			border-bottom:2px solid $light;
			padding:3px 13px;
			font-size:20px;
			// font-weight:bold;
			// margin-top:5px;
			text-align:center;
			margin-bottom:3px;
		}

		ul{
			background:$dark_main;
			cursor:pointer;

			li{
				// text-align:right;
				// padding:3px 5px 3px 2px;
				padding:3px 8px 3px 10px;
				position:relative;
				border-left:3px solid $dark_main;
				&:hover{
					border-left:3px solid $palette_main;
					background:$hover_dark;
					& > ul {
						display:inline-block;
					}
				}
			}

			ul{
				-webkit-box-shadow: $dashboard_shadow;
			  -moz-box-shadow:    $dashboard_shadow;
			  box-shadow:         $dashboard_shadow;
				display:none;
				white-space:nowrap;
				position:absolute;
				left:100%;
				z-index:1000;
				border-left:1px solid $light;
				// border-right:1px solid $light;
				// border:1px solid $light;
				top:0px;
				li{

				}
			}

		}

	}

	.d2b-dashboard-content{
		// overflow-x:hidden;
		height:100%;
		color:$lightest;
		font-family:$main;
		// margin-left:200px;
		// margin-top:50px;
		margin-top:78px;

	}

}
